/* --------------------------------------------------------
-----------------  html ---------------------------------
------------------------------------------------------------*/
* {
    box-sizing: border-box;
}
html {
    background-color: #fff6dd;
}

/* --------------------------------------------------------
-----------------  body ---------------------------------
------------------------------------------------------------*/

body {
    margin: 15px 0px 0px 0px;
}

/* --------------------------------------------------------
-----------------  header nav ---------------------------------
------------------------------------------------------------*/

header {
    position: sticky;
    top: 15px;
    /* insert linear gradient behind nav */
}

nav {
    background-color: #37393A;
    border-radius: 5px;
}

header svg {
    width:24px;
    height:24px;
}

header ul {
    display: flex;
    width: 1330px;
    height: 75px;
    margin: auto;
    padding-left: 20px;
    align-items: center;
}

header nav {
    width: 1350px;
    margin: auto;
}

#nav_div_flex_0 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    text-wrap: nowrap;
    flex-shrink: 0;
    flex-basis: 177px;
    height: 24px;
    align-items: center;
}

#nav_li_home{
    width: 70px;
}

#nav_div_flex_1 {
    display: flex;
    justify-content: space-between;
    margin-left: -24px;
    border-radius: 15px;
    text-wrap: nowrap;
    flex-shrink: 0;
    flex-basis: 177px;
    height: 24px;
    align-items: center;
}

#nav_div_flex_2 {
    display: flex; 
}

#nav_div_flex_3 {
    display: flex;    
}

#nav_logo {
    flex-basis: 142px;
    height: 50px;
    margin-left: auto;
    margin-right:20px;
}

@media (max-width: 1400px) {
    header nav {
        width: 1000px;
    }
    header ul {
        width: 1000px;
    }
}

@media (max-width: 1100px) {
    header nav {
        width: 800px
    }
    header ul {
        width: 800px
    }
}

/* ---------------------------------------------------------
-----------------  header nav items and animations ---------
------------------------------------------------------------*/


/* header nav item (home) */

#nav_div_flex_0 {
    border-radius: 15px;
    text-wrap: nowrap;
    flex-shrink: 0;
    flex-basis: 177px;
    height: 24px;
    align-items: center;
}

#nav_li_home {
    width: 130px;
}


#home_nav_span {
    /* font */
    font-size: 20px;
    color:#fff6dd;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* layout */
    display: inline-block;
    padding-left: 0px;
    text-wrap: nowrap;
    padding: 0 20px;
    /* look */
    border-radius: 15px;
    /* out animation */
    /* animation: home_nav_span_out 0.5s; */
}

#home_nav_span:hover {
    animation: home_nav_span 5s linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#home_nav_span:active {
    color: #37393a;
    /* box-shadow: inset 0px 0px 5px #37393a; */
    outline-style: solid;
    outline-color: #ffffe3;
    outline-width: 2px;

}

@keyframes home_nav_span {
    0% {
        background:#D38A51;
        font-weight: 800;
        font-size: 21px;
        color: #ffffe3;
    }
    50% {
        background: #CB5555;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
    100% {
        background:#D38A51;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
}

/* @keyframes home_nav_span_out {
    0% {
        background-color: #d36951;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
    100% {
        background-color: #37393A;
        font-weight: 400;
        font-size: 20px;
        color:#ffffe3;
    }
} */


/* header nav item (services/work) */

#services_nav_span {
    /* font */
    font-size: 20px;
    color:#fff6dd;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* layout */
    display: inline-block;
    padding-left: 0px;
    text-wrap: nowrap;
    padding: 0 20px;
    /* look */
    border-radius: 15px;
    /* out animation */
    /* animation: services_nav_span_out 0.5s; */
}

#services_nav_span:hover {
    animation: services_nav_span 10s linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#services_nav_span:active {
    color: #37393a;
    /* box-shadow: inset 0px 0px 5px #37393a; */
    outline-style: solid;
    outline-color: #ffffe3;
    outline-width: 2px;

}

@keyframes services_nav_span {
    0% {
        background:#CB5555;
        font-weight: 800;
        font-size: 21px;
        color: #ffffe3;
    }
    50% {
        background: #3572A4;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
    100% {
        background:#CB5555;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
}

/* @keyframes services_nav_span_out {
    0% {
        background-color: #d36951;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
    100% {
        background-color: #37393A;
        font-weight: 400;
        font-size: 20px;
        color:#ffffe3;
    }
} */

/* header nav animation 2 (about) */
#nav_div_flex_2 {
    margin-left: -24px;
    border-radius: 15px;
    text-wrap: nowrap;
    flex-shrink: 0;
    flex-basis: 177px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
}

#about_nav_span {
    /* font */
    font-size: 20px;
    color:#fff6dd;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* layout */
    display: inline-block;
    padding-left: 0px;
    text-wrap: nowrap;
    padding: 0 20px;
    /* look */
    border-radius: 15px;
    /* out animation */
    /* animation: about_nav_span_out 1s; */
}

#about_nav_span:hover {
    animation: about_nav_span 10s linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#about_nav_span:active {
    color: #37393a;
    /* box-shadow: inset 0px 0px 5px #37393a; */
    outline-style: solid;
    outline-color: #ffffe3;
    outline-width: 2px;

}

@keyframes about_nav_span {
    0% {
        background:#3572A4;
        font-weight: 800;
        font-size: 21px;
        color: #ffffe3;
    }
    50% {
        background: #597D4C;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
    100% {
        background:#3572A4;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
}

/* @keyframes about_nav_span_out {
    0% {
        background-color: #307a57;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
    100% {
        background-color: #37393A;
        font-weight: 400;
        font-size: 20px;
        color:#ffffe3;
    }
}
 */


/* header nav animation 3 (contact) */
#nav_div_flex_3 {
    margin-left: -24px;
    border-radius: 15px;
    text-wrap: nowrap;
    flex-shrink: 0;
    flex-basis: 177px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
}


#contact_nav_span {
    /* font */
    font-size: 20px;
    color:#fff6dd;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* layout */
    display: inline-block;
    padding-left: 0px;
    text-wrap: nowrap;
    padding: 0 10px;
    /* look */
    border-radius: 15px;
    /* out animation */
    /* animation: about_nav_span_out 1s; */
}

#contact_nav_span:hover {
    animation: contact_nav_span 10s linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#contact_nav_span:active {
    color: #37393a;
    /* box-shadow: inset 0px 0px 5px #37393a; */
    outline-style: solid;
    outline-color: #ffffe3;
    outline-width: 2px;

}

@keyframes contact_nav_span {
    0% {
        background:#597D4C;
        font-weight: 800;
        font-size: 21px;
        color: #ffffe3;
    }
    50% {
        background: #6051c2;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
    100% {
        background:#597D4C;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
}

/* @keyframes about_nav_span_out {
    0% {
        background-color: #307a57;
        font-weight: 800;
        font-size: 21px;
        color:#ffffe3;
    }
    100% {
        background-color: #37393A;
        font-weight: 400;
        font-size: 20px;
        color:#ffffe3;
    }
} */


/* ---------------------------------------------------------
-----------------  header additional layout ----------------
------------------------------------------------------------*/


/* header li:not(li:last-of-type) {
    padding: 10px;
} */

header p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    color: #fff6dd;
}

header img {
    height: 50px;
    width: auto;
    mix-blend-mode: exclusion;
}

/* header li:last-of-type {
    margin-left: auto;
    margin-right: 20px;
} */

header li:nth-of-type(1) {
    width: 24px;
    height: 24px;
}

/* header li:nth-of-type(2) {
    padding-left: 10px;
    padding-right: 10px;
} */

header li:nth-of-type(3) {
    width: 24px;
    height: 24px;
}

header li:nth-of-type(4) {
    padding-left: 20px;
    padding-right: 20px;
}

header li:nth-of-type(5) {
    width: 16px;
    height: 16px;
}

header li:nth-of-type(6) {
    padding-left: 20px;
    padding-right: 20px;
}

header li:nth-of-type(7) {
    width: 16px;
    height: 16px;
}

header p {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header a {
    text-decoration: none;
    color: inherit;
}


/* body */


#contact_title {
    /* font */
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    color:#37393A;
    /* style */
    text-align: left;
    /* layout */
    width: 1330px;
    margin: auto;
}

#contact_title h1 {
    margin: 20px 0 10px;
}

#contact_body_1 {
    display: flex;
    flex-direction: column;
    width: 1330px;
    margin: auto;
}

#contact_body_1 h2, #contact_body_2 h2 {
    /* font */
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:35px;
    color:#37393A;
    /* layout */
    margin-bottom: 20px;
}

.contact_h3 {
    /* layout */
    margin: 10px 0;
    padding-left: 80px;
    /* font */
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

}

.contact_p {
    /* font */
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color:#37393A;
    /* layout */ 
    margin-top: 5px;
}


#contact_body_1 p:first-of-type {
    color: #CB5555;
}

#contact_body_1 p:nth-of-type(3) {
    color: #3572A4;
}

#contact_body_1 p:nth-of-type(5) {
    color: #597D4C;
}

.contact_p {
    padding-left: 180px;
    color:#37393A;
}

#contact_body_2 {
    display:flex;
    flex-direction: column;
    width: 1330px;
    margin: auto; 
}


#contact_body_2  p {
    padding-left:80px;
}

#contact_details {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
    padding-left: 80px;
    margin-bottom: 40px

}

#contact_details p {
    /* layout */
    margin: 5px 0;
    padding: 0;
    /* font */
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color:#37393A;
}

#contact_details p:nth-of-type(1) {
    width: 33.333%;
    color:#CB5555;
}

#contact_details p:nth-of-type(2) {
    width: 66.666%;
    color:#37393A;
}
#contact_details p:nth-of-type(2) a {
    color:#37393A;

}


#contact_details p:nth-of-type(3) {
    width: 33.333%;
    color:#3572A4
}

#contact_details p:nth-of-type(4) {
    width: 66.666%
}
#contact_details p:nth-of-type(4) a {
    color:#37393A;

}



/* footer */

footer {
    /* font */
    background-color: #37393A;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#fff6dd;
    font-size: 17px;
    /* display */
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    /* layout */
    height: 350px;
    /* background */
    background-image: url("../Assets/Logos/Mode1.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-blend-mode: exclusion;
}

#services_footer {
    font-size: 25px;
}

footer ul, #list_item_about {
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 200px;
    
}

footer li:not(#list_item_about) {
    padding-left: 15px;
}

footer a {
    all:unset;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

/* flex items */
footer #footer_ul_1 {
    flex-grow: 0;
    flex-basis: 200px;
}

footer #list_item_about {
    flex-grow: 0;
    flex-basis: 200px;
}

footer #footer_ul_2 {
    flex-grow: 0;
    flex-basis: 200px;
}


/* footer link animations */

/* footer link 1 : SERVICES */

#services_footer {
    display: inline-block;
    padding-left: 10px;
    border-radius: 5px;
    z-index: 1000;
    animation: footer_a_1_anim_out 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

footer #footer_a_1 span:hover {
    animation: footer_a_1_anim 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

footer #footer_a_1 span:active {
    background-color: #3572A4;
    width: 130px;
    box-shadow: inset 1px 1px 5px #265275;
    outline: none;
    z-index: 1001;
}

@keyframes footer_a_1_anim {
    0% {
        background-color: #3572A4;
        width:0px;
    }
    100% {
        background-color:#3572A4;
        width: 130px;
    }
}

@keyframes footer_a_1_anim_out {
    0% {
        width: 130px;
        background-color: #3572A4;
    }
    100% {
        width: 0px;
        background-color:transparent;
    }
}

/* footer link 2 : SERVICES > photography */

#footer_photo_span {
    display: inline-block;
    width:5px;
    border-radius: 3px;
    padding-left: 5px;
    animation: footer_photo_span_out 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

#footer_photo_span:hover {
    animation: footer_photo_span 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

@keyframes footer_photo_span_out {
    0% {
        width: 130px;
        background-color: #D38A51;
    }
    100% {
        width: 130px;
        background-color: transparent;
    }
}

@keyframes footer_photo_span {
    0% {
        width: 0px;
        background-color: #D38A51;
    }
    100% {
        width: 130px;
        background-color: #D38A51;
    }
}

/* footer link 3 : SERVICES > graphic design */

#footer_graphic_span {
    display: inline-block;
    padding-left: 5px;
    border-radius: 3px;
    text-wrap: nowrap;
    height: 20px;
    animation: footer_graphic_span_out 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

#footer_graphic_span:hover {
    animation: footer_graphic_span 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    text-wrap: nowrap;
}

@keyframes footer_graphic_span {
    0% {
        background-color: #597D4C;
        width: 0px;
        height: 20px;
    }
    100% {
        background-color: #597D4C;
        width: 147px;
        height: 20px;
    }
}

@keyframes footer_graphic_span_out {
    0% {
        width: 130px;
        background-color: #597D4C;
    }
    
    100% {
        width: 130px;
        background-color: transparent;
    }
}

/* footer link 4 : SERVICES > web-design */

#footer_webdes_span {
    display: inline-block;
    border-radius: 3px;
    padding-left: 5px;
    text-wrap: nowrap;
    animation: footer_webdes_span_out 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

#footer_webdes_span:hover {
    animation: footer_webdes_span 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    text-wrap: nowrap;
}

@keyframes footer_webdes_span {
    0% {
        background-color: #CB5555;
        width: 0px;
    }
    100% {
        background-color: #CB5555;
        width: 110px;
    }
}
@keyframes footer_webdes_span_out {
    0% {
        width: 110px;
        background-color: #CB5555;
    }
    100% {
        width: 110px;
        background-color: transparent;
    }
}

/* footer link 5 : SERVICES > copy-writing */

#footer_copy_span {
    padding-left: 5px;
    display: inline-block;
    border-radius: 3px;
    text-wrap: nowrap;
    animation: footer_copy_span_out 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

#footer_copy_span:hover {
    animation: footer_copy_span 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    text-wrap: nowrap;
}

@keyframes footer_copy_span {
    0% {
        background-color: #3572A4;
        width: 0px;
    }
    100% {
        background-color: #3572A4;
        width: 130px;
    }
}

@keyframes footer_copy_span_out {
    0% {
        width: 130px;
        background-color: #3572A4;
    }
    100% {
        width: 130px;
        background-color: transparent;
    }
}

/* footer link 6 : ABOUT */

#about_footer {
    font-size: 25px;
}

#footer_about_span {
    display: inline-block;
    padding-left: 10px;
    border-radius: 5px;
    text-wrap: nowrap;
    animation: footer_about_span_out 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

#footer_about_span:hover {
    animation: footer_about_span 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    text-wrap: nowrap;
}

@keyframes footer_about_span {
    0% {
        background-color: #D38A51;
        width: 0px;
    }
    100% {
        background-color: #D38A51;
        width: 140px;
    }
}

@keyframes footer_about_span_out {
    0% {
        width: 140px;
        background-color: #D38A51;
    }
    100% {
        width: 140px;
        background-color:  transparent;
    }
}


/* footer link 7 : CONTACT  */

#footer_contact_span {
    font-size: 25px;
    border-radius: 5px;
    padding-left: 10px;
    display: inline-block;
    animation: footer_contact_span_out 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

#footer_contact_span:hover {
    animation: footer_contact_span 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

@keyframes footer_contact_span {
    0% {
        background-color: #CB5555;
        width: 0px;
    }
    100% {
        background-color: #CB5555;
        width: 135px;
    }
}

@keyframes footer_contact_span_out {
    0% {
        width: 130px;
        background-color: #CB5555;
    }
    100% {
        width: 130px;
        background-color: transparent;
    }
}

/* footer link 8 : CONTACT > phone */

#footer_ul_2_div_2_span_1 {
    border-radius: 3px;
    display: inline-block;
    padding-left: 5px;
    text-wrap: nowrap;
    animation: footer_ul_2_div_2_span_1_out  0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

#footer_ul_2_div_2_span_1:hover {
    animation: footer_ul_2_div_2_span_1 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    text-wrap: nowrap;
}

@keyframes footer_ul_2_div_2_span_1 {
    0% {
        background-color: #597D4C;
        width: 0px;
    }
    100% {
        background-color: #597D4C;
        width: 160px;
    }
}

@keyframes footer_ul_2_div_2_span_1_out {
    0% {
        width: 160px;
        background-color: #597D4C;
    }
    100% {
        width: 130px;
        background-color: transparent;
    }
}


/* footer link 9 : CONTACT > email  */

#footer_ul_2_div_2_span_2 {
    padding-left: 5px;
    border-radius: 3px;
    display: inline-block;
    text-wrap: nowrap;
    animation: footer_ul_2_div_2_span_2_out 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

#footer_ul_2_div_2_span_2:hover {
    animation: footer_ul_2_div_2_span_2 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    text-wrap: nowrap;
}

@keyframes footer_ul_2_div_2_span_2 {
    0% {
        background-color: #3572A4;
        width: 0px;
    }
    100% {
        background-color: #3572A4;
        width: 110px;
    }
}

@keyframes footer_ul_2_div_2_span_2_out {
    0% {
        width: 110px;
        background-color: #3572A4;
    }
    100% {
        width: 110px;
        background-color: transparent;
    }
}

/* footer services FLEX */

footer #footer_ul_1 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#footer_ul_flex_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 130px;

}

#footer_ul_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#footer_ul_2_div_2 {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: flex-start;
    margin-top: 20px;
}

#footer_ul_2_div_2 li:nth-of-type(2) {
    margin-top:16.6666px
}
